body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: #2ec194;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
}
.box{
     height: 200px;
     width: 200px;
     margin: 100px;
     background-color: gold;
     position: relative;
}
/* *********************
.                    BOX1
formula: 
BOX-SHADOW: x y b c(0.3)
********************** */
.box1{
     box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}
/* *********************
.                    BOX2
formula: BEFORE
Transform-Origin: Opposite:
SKEW-Y(5deg)
********************** */
.box2::before{
     content: "";
     display: block;
     width: 90%;
     height: 20px;
     background-color: rgba(0, 0, 0, 0.3);
     position: absolute;
     bottom: 0;
     right: 0;
     transform-origin: left;
     transform: skewY(5deg);
     filter: blur(5px);
     z-index: -1;
}
/* *********************
.                    BOX3
formula: BEFORE + AFTER
********************** */
.box3::before{
     content: "";
     display: block;
     width: 90%;
     height: 20px;
     background-color: rgba(0, 0, 0, 0.3);
     position: absolute;
     bottom: 0;
     right: 0;
     transform-origin: left;
     transform: skewY(5deg);
     filter: blur(5px);
     z-index: -1;
}
.box3::after{
     content: "";
     display: block;
     width: 90%;
     height: 20px;
     background-color: rgba(0, 0, 0, 0.3);
     position: absolute;
     bottom: 0;
     left: 0;
     transform-origin: right;
     transform: skewY(-5deg);
     filter: blur(5px);
     z-index: -1;
}

/* *********************
.                    BOX4
formula: BEFORE
Bottom: -50px;
H: 20px W: 90% Bradius: 50%
********************** */
.box4::before{
     content: "";
     display: block;
     width: 90%;
     height: 20px;
     border-radius: 50%;
     background-color: rgba(0, 0, 0, 0.3);
     position: absolute;
     bottom: -50px;
     left: 12px;
     filter: blur(10px);
     z-index: -1;
}
/* *********************
.                    BOX5
formula: BEFORE
Bottom: -15px;
H: 90% W: 90%
********************** */
.box5::before{
     content: "";
     display: block;
     width: 90%;
     height: 90%;
     background-color: rgba(0, 0, 0, 0.3);
     position: absolute;
     bottom: -15px;
     left: 12px;
     filter: blur(5px);
     z-index: -1;
}
/* *********************
.                    BOX6
********************** */
.box6{
     background-color: #2ec194;
     border-radius: 20px;
     box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1),
                         -6px -6px 6px rgba(255,255,255, 0.2);
}
/* *********************
.                    BOX7
********************** */
.box7{
     background-color: #2ec194;
     border-radius: 20px;
     box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1),
                         -6px -6px 6px rgba(255,255,255, 0.2),
                         inset 6px 6px 6px rgba(0, 0, 0, 0.1),
                         inset -6px -6px 6px rgba(255,255,255, 0.2);
}
